.cabeza {
    font-size: 13px;
    text-align: center;
    margin-top: 8px;
}

.menu {
    background-color: #615442;
    color: #000000;
    height: 100px;
    width: 100%;
}

.nav li {
    text-align: center;
    margin-top: 25px;
}

.recomendados-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; 
}

.recomendado {
    flex: 1 0 calc(33.33% - 20px); 
    max-width: calc(33.33% - 20px); 
}

.titulos h2 {
    margin-bottom: 20px; 
    padding: 15px; 
    border-radius: 5px;
}

.menu {
    background-image: url('https://img.freepik.com/foto-gratis/concepto-material-pared-fondo-madera-rasgunado-pared_53876-30226.jpg');
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    background-size: auto;  
    height: 200px;  
    border-radius: 20px;
    margin-bottom: 20px;
        
}

.menu a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin: 0 10px;
}
